<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/homeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Home</title>

</head>
<body>
<header>
    <div>
        <img src="../resources/img/logo-desktop.svg" alt="">
        <img id="logo2" src="../resources/img/logo-mobile.svg" alt="">
        <img id="img-burg" src="../resources/img/menu-buguer-open.svg" alt="">
        <nav>
            <ul>
                <li>Home</li>
                <li>Menu</li>
                <li>Recompensas</li>
                <li>Gif Cards</li>
                <li>Lojas</li>
            </ul>
        </nav>
        <button id="btn-pegar-cafe-header">
            PEGAR MEU CAFE
        </button>
    </div>
</header>
<main>
<div class="container-principal">
    <img id="img-blur1" src="../resources/img/blur-1.png" alt="">
    <div>
        <h1>Great Coffee</h1>
        <h2><span><</span>Great Code/></h2>
        <img src="../resources/img/rocket-coffee.png" alt="">
    </div>
    <img id="img-blur2" src="../resources/img/blur-2.png" alt="">
</div>
</main>
</body>
</html>